@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-col-4 {
    grid-template-columns: repeat(auto-fit, minmax(170px,1fr));
}

.scroll::-webkit-scrollbar {
    width: 6px;
    position:absolute;
}

*::-webkit-scrollbar-thumb {
    @apply bg-white bg-opacity-50 rounded-md;
}

*::-webkit-scrollbar-track {
    /* background-color: blue; */

}
/* @layer base {
  html {
    font-family: Proxima Nova, sans-serif;
    font-weight: 400;
    src: url(/fonts/proxima-nova/400-regular.woff) format("woff");
  }
  @font-face {
    font-family: Proxima Nova;
    font-weight: 500;
    src: url(/fonts/proxima-nova/500-medium.woff) format("woff");
  }
} */
